<div id="aboutme">
  <div class="slider-wrapper">
      <div class="flexslider">
          <ul class="slides">
              <li>
                  <img src="images/profile_1.png" alt="Eugen Istoc" />
              </li>
          </ul>
      </div>
  </div>
  <div class="about-wrapper">
      <div class="title">
          <h1>Eugen Istoc</h1>
          <h5>Software Engineer</h5>
      </div>
      <div class="info-slider">
          <div class="info-slide-list">
            <div class="info-slide-wrapper">
              <div class="info-slide-item">
                <div class="top-border-red">
                    <p>Full-time software engineer, open source advocate, lay theologian, part-time soccer and fitness enthusiast and full-time Christian.</p>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
      </div><!-- /Info Slider -->
  </div>
  <div class="floatlimit"></div>
</div>
