<div id="aboutme">

                <div class="slider-wrapper">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/photocontent/slider_photo_01.jpg" alt="" />
                                </li>
                            <li>
                                <img src="images/photocontent/slider_photo_02.jpg" alt="" />
                            </li>
                            <li>
                                <img src="images/photocontent/slider_photo_03.jpg" alt="" />
                            </li>
                        </ul>
                    </div>
                </div><!-- /Flexslider -->

                <div class="about-wrapper">
                    <div class="title">
                        <h1>Eugen Istoc</h1>
                        <h5>Software Engineer</h5>
                    </div>
                    <div class="download-card"><!-- Button Download vCard -->
                        <a href="#" class="button">
                            <div class="button-medium button-red">
                                <div class="button-anim"></div>
                                <div class="button-medium-label">Download vCard</div>
                            </div>
                        </a>
                    </div>
                    <div class="info-slider"><!-- Info Slider -->
                        <div class="info-slide-list">
                            <div class="info-slide-wrapper">

                                <div class="info-slide-item"><!-- 1 -->
                                    <div class="top-border-red">
                                        <p>Hi, my name is Johnny Doe.<br>Entire summary information you can find on this page. Feel free to take a look around my vCard and don't forget to see the Black Edition. Thanks.</p>
                                    </div>
                                </div>

                                <div class="info-slide-item"><!-- 2 -->
                                    <div class="top-border-blue">
                                        <div class="left-column">
                                            <ul class="main-info-list">
                                                <li>Name<span>Johnny Doe</span></li>
                                                <li>Birthday<span>January 31, 1986</span></li>
                                                <li>Address<span>New York City, United States</span></li>
                                            </ul>
                                        </div>
                                        <div class="right-column">
                                            <ul class="main-info-list">
                                                <li>Phone<span>+0 (123) 456 789</span></li>
                                                <li>Email<span>mymail@mail.com</span></li>
                                                <li>Website<span>www.mysite.com</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="info-slide-item"><!-- 3 -->
                                    <div class="top-border-green">
                                        <ul class="mini-portfolio">
                                            <li class="bigp-1"><div class="minispan"><span>See My Portfolio</span></div></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="info-slide-item"><!-- 4 -->
                                    <div class="top-border-yellow">
                                        <div class="mini-location">
                                            <div class="mini-icon-pin"></div>
                                            <div class="mini-location-text">New York City, United States</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div><!-- /Info Slider -->
                </div>

                <div class="floatlimit"></div>

            </div>
