<div id="contacts">
  <div class="fill-yellow">Contacts</div>
  <div class="left-column">
    <div class="substrate">
      <h2>Talk to me</h2>
      <div class="form-success">
        <div class="form-success-green">Message sent! Thx :)</div>
      </div>
      <form action="https://send.pageclip.co/YRwH9eBPPHPgAdBMO3gLxb2aJcsSyEDN" id="contactform" class="animform pageclip-form"
        method="POST">
        <ul>
          <li>
            <label for="name" class="flabel">Name</label>
            <input type="text" name="name" value="" id="name" />
            <div class="indicate-name"></div>
          </li>
          <li>
            <label for="email" class="flabel">E-mail</label>
            <input type="text" name="email" value="" id="email" />
            <div class="indicate-email"></div>
          </li>
          <li>
            <label for="message" class="flabel">Enter your message</label>
            <textarea name="message" cols="88" rows="6" id="message"></textarea>
            <div class="indicate-message"></div>
          </li>
          <li>
            <input type="hidden" name="*redirect" value="http://eugenistoc.com/#contacts?sent=true" />
            <button type="submit" name="submit" value="Send your message" class="submit">Send your message</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <div class="right-column">
    <div class="substrate">
      <h2>My Whereabouts</h2>
      <img src="images/photocontent/midtown.png" style="width: 450px" />
      <div class="map-pan">
        <div class="div-info pan pan-active" data-lat="36.143247" data-lng="-115.160151">
          <div class="thumb-icon-gmap"></div>
          <div class="thumb-name">Greater Atlanta Area</div>
        </div>
      </div>
    </div>
  </div>
  <div class="floatlimit"></div>
</div>