<div id="resume">
  <div class="fill-blue">Resume</div>
  <div class="left-column">
    <div class="substrate">
      <h2>My Card</h2>
      <img style="width: 230px;" src="images/photocontent/about_photo.png" alt="">
      <ul class="main-info-list">
        <li>
          Name<span>Eugen Istoc</span>
          <div class="floatlimit"></div>
        </li>
        <li>
          Location<span>Atlanta, GA</span>
          <div class="floatlimit"></div>
        </li>
      </ul>
      <div class="paper-clip"></div>
    </div>
    <div class="substrate">
      <h2>My Skills</h2>
      <h3>Processes</h3>
      <ul class="skills">
        <li class="skill">SCRUM<span class="skill-blue-fill-5"></span></li>
        <li class="skill">Full Stack Dev<span class="skill-blue-fill-4"></span></li>
        <li class="skill">API Design<span class="skill-blue-fill-4"></span></li>
        <li class="skill">TDD<span class="skill-blue-fill-5"></span></li>
        <li class="skill">BDD<span class="skill-blue-fill-4"></span></li>
        <li class="skill">Tooling<span class="skill-blue-fill-4"></span></li>
        <li class="skill">CodeIgniter<span class="skill-blue-fill-4"></span></li>
      </ul>
      <h3>Languages</h3>
      <ul class="skills">
        <li class="skill">Javascript<span class="skill-blue-fill-5"></span></li>
        <li class="skill">Ruby<span class="skill-blue-fill-4"></span></li>
        <li class="skill">C#<span class="skill-blue-fill-4"></span></li>
        <li class="skill">PHP<span class="skill-blue-fill-5"></span></li>
        <li class="skill">C/C++<span class="skill-blue-fill-4"></span></li>
        <li class="skill">Java<span class="skill-blue-fill-4"></span></li>
        <li class="skill">Assembly<span class="skill-blue-fill-4"></span></li>
        <li class="skill">SmallTalk<span class="skill-blue-fill-4"></span></li>
        <li class="skill">Ada<span class="skill-blue-fill-3"></span></li>
      </ul>
      <h3>Frameworks</h3>
      <ul class="skills">
        <li class="skill">AngularJS<span class="skill-blue-fill-5"></span></li>
        <li class="skill">Protractor<span class="skill-blue-fill-5"></span></li>
        <li class="skill">Karma<span class="skill-blue-fill-5"></span></li>
        <li class="skill">D3.js<span class="skill-blue-fill-4"></span></li>
        <li class="skill">gulp/grunt<span class="skill-blue-fill-5"></span></li>
        <li class="skill">Rails<span class="skill-blue-fill-4"></span></li>
        <li class="skill">SpringFramework<span class="skill-blue-fill-3"></span></li>
        <li class="skill">Android SDK<span class="skill-blue-fill-4"></span></li>
        <li class="skill">IOS SDK<span class="skill-blue-fill-3"></span></li>
        <li class="skill">CakePHP<span class="skill-blue-fill-5"></span></li>
        <li class="skill">Laravel<span class="skill-blue-fill-4"></span></li>
        <li class="skill">CodeIgniter<span class="skill-blue-fill-4"></span></li>
      </ul>
      <h3>Design</h3>
      <ul class="skills">
        <li class="skill">Sketch<span class="skill-blue-fill-5"></span></li>
        <li class="skill">Adobe Photoshop<span class="skill-blue-fill-4"></span></li>
        <li class="skill">Adobe After Effects<span class="skill-blue-fill-5"></span></li>
        <li class="skill">Affiniti Designer<span class="skill-blue-fill-4"></span></li>
      </ul>
      <h3>Hardware</h3>
      <ul class="skills">
        <li class="skill">Arduino<span class="skill-blue-fill-5"></span></li>
        <li class="skill">EAGLE (PCB)<span class="skill-blue-fill-3"></span></li>
        <li class="skill">Rasberry Pi<span class="skill-blue-fill-4"></span></li>
        <li class="skill">InventSense<span class="skill-blue-fill-4"></span></li>
      </ul>
      <div class="paper-clip"></div>
    </div>
  </div>
  <div class="right-column">
    <div class="substrate gradient-blue font-blue">
      <h2>About Me</h2>
      <h3>Hello World</h3>
      <p>Full-time software engineer, open source advocate, lay theologian, part-time soccer and fitness enthusiast and full-time
        Christian. Surprisingly I have a lot of free time on my hands. </p>
    </div>
    <div class="substrate">
      <h2>Employment</h2>
      <div class="left-blue">
        <div class="time-period-left-blue"></div>
        <!-- Keep empty. This class used for creating a point on the line. Use "time-period-right-***".-->
        <h3>AT&T<span class="time-period-right-blue">2013 - Present</span></h3>
        <h4>Software Engineer, Fontend Developer</h4>
        <em>Atlanta, GA</em>
        <p>Build and maintain components supporting the U-Verse IP-based ultra-highspeed broadband. Utilizing a broad spectrum
          of technologies and server solutions, among them are ORACLE dbms, and the Spring framework.</p>

        <div class="time-period-left-blue"></div>
        <!-- Keep empty. This class used for creating a point on the line. Use "time-period-right-***".-->
        <h3>Lockheed Martin<span class="time-period-right-blue">2012 - 2013</span></h3>
        <h4>Software Engineer, Geospacial Intelligence Systems</h4>
        <em>Germantown, MD</em>
        <p>Integrate and package software deployed on global geospatial systems.</p>

        <div class="time-period-left-blue"></div>
        <h3>Georgia Institute of Technology<span class="time-period-right-blue">2010 - 2011</span></h3>
        <h4>Teaching assistant, grader</h4>
        <p>Help students as they engage in designing quality software from the planning to the implementation stages utilizing
          agile methods and collaborative workflows.</p>
      </div>
    </div>
    <div class="substrate">
      <h2>Education</h2>
      <div class="left-blue">
        <div class="time-period-left-blue">2017</div>
        <div class="info-period">
          <h3>Dallas Theological Seminary</h3>
          <h4>MA, Christian Leadership</h4>
        </div>
        <div class="time-period-left-blue">2016</div>
        <div class="info-period">
          <h3>Georgia Institute of Technology</h3>
          <h4>MS, Computer Science</h4>
        </div>
        <div class="time-period-left-blue">2012</div>
        <div class="info-period">
          <h3>Georgia Institute of Technology</h3>
          <h4>BS, Computer Science</h4>
        </div>
      </div>
    </div>
    <div class="substrate">
      <h2>Honors & Awards</h2>
      <div class="left-blue">
        <div class="time-period-left-blue">2013</div>
        <div class="info-period">
          <h3>Mobile First - 1st Place</h3>
          <p>Create a simple, intuitive time tracking application. Team goals consisted of responsive design, lightweight user
            interface, small application footprint, and service oriented design.</p>
        </div>
        <div class="time-period-left-blue">2012</div>
        <div class="info-period">
          <h3>AT&T Coding Challange - 2nd Place</h3>
          <p>Developed a mobile application deployed on the Android platform as part of a competition sponsored by AT&T given
            system and functional requirements. This was a team effort utilizing modern agile development methodologies and
            testing techniques.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="floatlimit"></div>
</div>
