<div class="footer">
  <div class="left-column">
      <p id="copyright">Dealing with it..</p>
  </div>
  <div class="right-column">
      <div class="social">
          <ul>
              <li class="twitter">
                  <a href="https://twitter.com/{{site.data.constants.twitter_username}}" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
              </li>
              <li class="linkedin">
                  <a href="{{site.data.constants.linkedin_profile_url}}" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
              </li>
              <li class="deviant">
                  <a href="https://github.com/{{site.data.constants.github_username}}" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
              </li>
          </ul>
      </div>

  </div>
  <div class="floatlimit"></div>
</div>
