<div class="footer">
                <div class="left-column"><p>Eugen Istoc, Copyright © 2015</p></div>
                <div class="right-column">
                    <div class="social">
                        <ul>
                            <li class="twitter">
                                <a href="https://twitter.com/eugenistoc" target="_blank"><div class="icon-twitter"></div></a>
                            </li>
                            <li class="linkedin">
                                <a href="https://www.linkedin.com/pub/eugen-istoc/b/932/4a4" target="_blank"><div class="icon-linkedin"></div></a>
                              </li>
                        </ul>
                    </div>

                </div>
                <div class="floatlimit"></div>
</div>
