<div id="nav">
    <div id="logo">
        <h2>Eugen Istoc</h2>
    </div>

    <ul class="etabs">
        <li class="tab tab-main sound">
            <a href="#aboutme" class="gradient-red">
                <div class="navicon-about"></div>
                <div class="navicon-text">About</div>
                <div class="uhere-text">You here</div>
            </a>
        </li>
        <li class="tab tab-notmain">
            <a href="#resume" class="gradient-blue">
              <i class="fa fa-file fa-3x"></i>
                <div class="navicon-text">Resume</div>
            </a>
        </li>
        <li class="tab tab-notmain">
            <a href="#contacts" class="gradient-yellow">
              <i class="fa fa-map-marker fa-3x"></i>
                <div class="navicon-text">Contacts</div>
            </a>
        </li>
        <li class="tab tab-notmain">
            <a href="#blog" class="violet gradient-green">
              <i class="fa fa-comments-o fa-3x"></i>
                <div class="navicon-text">Blog</div>
            </a>
        </li>
    </ul>
</div>
